/* Menu */
.ui-grid-b {
	text-align: center;
}

#acc_values {
	width: 500px;
	height: 250px;
	margin: 0 auto;
}

/* Compass Page */
.compass_container {
	position: relative;
	margin: 0 auto;
	width: 200px;
	overflow: hidden;
}

#compass_heading {
	position: relative;
	font-size: 18px;
	margin: 20px auto 20px auto;
	text-align: center;
}
.compass {
	padding-top: 12px;
}
.rose {
	position: absolute;
	top: 53px;
	left: 40px;
	width: 150px;
	height: 151px;
}